@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Roboto;
}

h1 {
    font-size: 6rem;
    font-weight: 500;
}

h1,
h2,
.theme-font {
    font-family: "Quicksand";
}
